h1 {color:blue;}

h2{color: brown;}

h3{color: cornflowerblue;}
h1{background-color: lightcyan;}

h2{background-color: lightgreen;}
h4{background-color: lightpink;}

h3{font-size: 36px;}
div{text-align: center;}
article{text-align: center;}
article{background-color: aqua;}
article{font-size: 28px;}

div{font-size: 30px;}